<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <style>@import 'https://fonts.googleapis.com/css?family=Nunito:300,700';</style>
</head>
<body>
<table cellpadding="30" style="width: 100%; background-color: #ececec;">
    <tbody>
    <tr>
        <td><center>
            <font face="Arial, Helvetica, sans-serif;">
                <table cellspacing="0" th:style="'font-family:Arial, Helvetica, sans-serif; width: 795px; height:514px; background-color: #ffffff;background-repeat:no-repeat;background-image:url(' + ${backgroundImage} + '); background-color:#FFF;'" cellpadding="60" th:background="${backgroundImage}">
                    <tbody>
                    <tr>
                        <td align="left" valign="top">
                            <table cellpadding="0" cellspacing="0" height="40px" border="0"><tr><td></td></tr></table>
                            <h1 style="color: #004a98; font-size: 25px;">Solicitud demasiado antigua</h1>
                            <div>
                                <table cellpadding="0" cellspacing="0" height="10px" border="0"><tr><td></td></tr></table>
                                <p style="color: #004a98; font-size:14px; line-height:24px;" th:text="'Su solicitud ' + ${requestId} + ' se encuentra en estado In Progress hace más de 2 semanas.'"/>
                                <p style="color: #004a98; font-size:14px; line-height:24px;">Para continuarla por favor contacte a<br/>
                                    <strong style="font-weight:700">Gastón Fuoco</strong><br/>
                                    <a href="mailto:gfuoco@adistec.com" style="color: #298eff; font-size:14px; "><strong>gfuoco@adistec.com</strong></a></p>
                                <table cellpadding="0" cellspacing="0" height="5px" border="0"><tr><td></td></tr></table>
                                <p style="color: #004a98; font-size:14px; ">Puede ver los detalles de la solicitud desde el siguiente link:<br/>
                                    <a th:href="@{${appUrl} + '/request/' + ${requestId}}" style="color: #298eff; font-size:14px; "><strong th:text="@{${appUrl} + '/request/' + ${requestId}}"></strong></a></p>
                                <table cellpadding="0" cellspacing="0" height="5px" border="0"><tr><td></td></tr></table>
                                <p style="color: #004a98; font-size:14px; margin-bottom:0px;">Gracias, <br/>
                                    <strong style="font-weight:700">Adistec Marketing.</strong></p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </font></center></td>
    </tr>
    </tbody>
</table>
</body>
</html>